:root {
  --app-color-secondary: #fff;

  // neutral
  --app-color-n-10: #1a1b1e;
  --app-color-n-20: #2f3033;
  --app-color-n-30: #46474a;
  --app-color-n-40: #5e5e62;
  --app-color-n-50: #77777a;
  --app-color-n-55: #74777f;
  --app-color-n-60: #909094;
  --app-color-n-70: #ababaf;
  --app-color-n-80: #c7c6ca;
  --app-color-n-87: #D9D9E0;
  --app-color-n-90: #e3e2e6;
  --app-color-n-91: #e2e2e9;
  --app-color-n-92: #e7e8ee;
  --app-color-n-95: #f1f0f4;
  --app-color-n-96: #f3f3fa;
  --app-color-n-98: #f9f9ff;
  --app-color-n-99: #fdfbff;

  // primary
  --app-color-p-05: #0E3A2F;
  --app-color-p-10: #0e3a2f;
  --app-color-p-20: #134f40;
  --app-color-p-30: #2b6047;
  --app-color-p-40: #337c55;
  --app-color-p-50: #409467;
  --app-color-p-60: #65af87;
  --app-color-p-70: #8ac3a5;
  --app-color-p-80: #b3dec7;
  --app-color-p-90: #cff2df;
  --app-color-p-95: #eafbf2;
  --app-color-p-99: #f6fefa;
}