.underlined {
  text-decoration: underline;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-start {
  justify-content: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.ai-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-8 {
  gap: 8px;
}

.gap-16 {
  gap: 16px;
}

.gap-24 {
  gap: 24px;
}

.gap-32 {
  gap: 32px;
}

.font-size-m {
  font-size: 1.3rem;
}

.mt-24 {
  margin-top: 24px;
}

.mb-16 {
  margin-bottom: 16px;
}

button {
  border: 1px solid var(--app-color-p-80);
  padding: 8px 16px;
  border-radius: 10px;
  transition: all 0.2s linear;
  background: var(--app-color-secondary);
  cursor: pointer;


  &:hover {
    background-color: var(--app-color-p-90);
  }

  &.btn-success {
    background: var(--app-color-p-40);
    color: var(--app-color-secondary);
    border-color: var(--app-color-p-40);

    &:hover {
      background: var(--app-color-p-90);
      color: var(--app-color-p-05);
    }
  }
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .app-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }
}

code {
  background: #ECECEC;
}

.code {
  background-color: #f9f9f9;
  padding: 0 2px;
  border: 1px solid #ccc;
  display: inline-block;
}

.code-block {
  background-color: #f9f9f9;
  padding: 16px;
  border: 1px solid #ccc;
  display: inline-block;
  border-radius: 5px;
}

ul.list {
  line-height: 1.8;
}

ul.list ul {
  margin-block: 8px;
}

input[type='text'], input[type="password"], input[type="email"], input[type="number"], select {
  padding: 8px 8px;
}

// Table
table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

caption {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

th,
td {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

thead th {
  background-color: #f4f4f4;
  border-bottom: 2px solid #aaa;
}

tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

tfoot td {
  font-weight: bold;
  border-top: 2px solid #aaa;
  text-align: right;
}

.text-content-wrapper {
  h4, h3, h2 {
    margin-block-start: 16px;

    &:first-child {
      margin: 0;
    }
  }
}

.nav-menu-item {
  text-decoration: none;
}